
.bottom_text{
    color: var(--bs-gray-700);
    position: relative;
    z-index: 999;
}
.copy_text{
    left: 0;
    opacity: 25%;
    top: 250px;
    height: 250px;
    font-size: 14px;
    @media only screen and (min-width: 768px){
        font-size: 24px;
    }
}

.heading_font_col{
    @media screen and (min-width: 768px) {
        padding-left: 4px;
    }
}


.location_text{
    width:100%;
    @media screen and (min-width: 768px){
        
        width:50%;
    }
}

.ok-span{
        color:white;
    @media screen and (min-width:768px){
        align-self:start;
        margin-left:12px;
    }
}

p>span{
    font-weight: bolder;
}

p>span:nth-child(2n){
    color: white;
}

a{
    color:black;
}
a:hover{
    color:var(--bs-gray-300);
    transition: ease-in-out .2s;
}



.location_wrapper{
    width:fit-content;
    margin-inline:auto;
    text-align:start;
}

