@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="d-inline-flex flex-column text-white text-center position-absolute copy_text user-select-none"><span>C</span>O<span>P</span>Y<span>W</span>R<span>I</span>I<span>G</span>H<span>T</span><span>&#169;</span><span>M</span><span>E</span></div>

<div class="container mt-5 text-center text-md-start text-white">
    <div class="row position-relative px-md-0">
        <div class="col heading_font_col">
            <h1 class="display-1 m-0 p-0">Frontend and <br/> Backend</h1>
        </div>
        <div class="col-12">
            <span class="bottom_text fs-4 fw-bolder ">Developer</span>
            </div>
    </div>
    <div class="row mt-5 d-flex justify-content-center gap-3 col-md-6">
        <strong class="px-md-3">About</strong>
        <p class="px-4 px-md-3">
            Hi, I’m a frontend and backend applications developer. I’m self taught and have experience on a broad topology of IT topics. I enjoy both frontend and backend development. Technologies I’m familiar with are <span>React</span>, <span>ASP.net Core</span>, <span>Figma</span>, <span>TailwindCSS</span>, <span>BootStrap</span>, <span>SCSS</span>, <span>HTML5</span>, <span>Typescript</span>, <span>Svelte</span>, and <span>Microsoft SQL Server</span>.
        </p>
    </div>

    <div class="d-flex flex-row gap-4 justify-content-center align-items-center align-self-center justify-content-md-start">
        <a href="">
            <iconify-icon width="30" icon="brandico:github">
            </iconify-icon>
        </a>
        <a href="">
            <iconify-icon width="30" icon="ic:outline-facebook">
            </iconify-icon>
        </a>
        <a href="">
            <iconify-icon width="30" icon="entypo-social:linkedin-with-circle">
            </iconify-icon>
        </a>
    </div>

    <div class="row row-cols-2 align-items-center flex-column mt-5 w-auto justify-content-center align-content-md-start justify-content-md-start text-md-start">
        <div class="text-nowrap fs-3 w-auto location_text">
            Location, Broken Arrow
        </div>
        <span class="fw-bolder text-black">
            Oklahoma
        </span>
    </div>
</div>